@define-color background #282828;
@define-color foreground #ebdbb2;
@define-color selection #3c3836;
@define-color red #fb4934;
@define-color orange #fe8019;
@define-color yellow #fabd2f;
@define-color green #b8bb26;
@define-color purple #b16285;
@define-color blue #83a598;
@define-color aqua #8ec07c;

* {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    font-family: "Mononoki Nerd Font"; 
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: @background;
    color: @foreground;
}

tooltip {
  background: @background;
  border: 1px solid @foreground;
}

tooltip label {
  color: @foreground;
}

#workspaces {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 4px;
    background: @selection;
    padding: 0 8px;
    border-radius: 100px;
}

#workspaces button {
    padding: 4px 5px;
    background: transparent;
    color: @foreground;
}

#workspaces button.active {
    color: @green;
}

/*     "modules-right": ["mpd", "idle_inhibitor", "pulseaudio", "network", "cpu", "memory", "temperature", "backlight", "keyboard-state", "sway/language", "battery", "battery#bat2", "clock", "tray"], */

#clock {
    margin: 3px 0;
    background: @aqua;
    color: @background;
    padding: 0 8px;
    border-radius: 100px;
}

#mpd,
#idle_inhibitor,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#backlight,
#keyboard-state,
#battery,
#tray {
    color: @background;
    margin: 3px 2px;
    padding: 0 8px;
    border-radius: 100px;
}

#mpd,
#idle_inhibitor,
#pulseaudio,
#network {
    background: @red;
}

#cpu,
#memory,
#temperature {
    background: @green;
}

#backlight,
#keyboard-state,
#battery,
#tray {
    background: @blue;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
